<h1>Peeps</h1>
<p>List out your tweet/peeps</p>
<ul>
    <% @peeps.each do |peep|%>
        <li>
        <a href="/peeps/<%= peep.id %>">
        <%=peep.title %>
        </a>
    </li>
    <li>
        <%= peep.created_at %>
    </li>

    <% end %>
</ul>
