<h1>Peeps</h1>
<p>List out your tweet/peeps</p>
<ul>
    <% @peeps.each do |peep|%>
        <li>
        <%= link_to peep.title, peep %>
        </a>
    </li>
    <li>
        <%= peep.created_at %>
    </li>

    <% end %>
</ul>

<%= link_to "New Peep", new_peep_path %>
