<h1><%= @peep.title %></h1>

<p><%= @peep.body %></p>

<ul>
    <li><%= link_to "Edit",
    edit_peep_path(@peep) %></li>
    <li><%= link_to "Destroy", peep_path(@peep), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
</ul>
